
body {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 12, 61);
    margin: 0;
} 

#game-board {
    background-color: #CCC;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    border-radius: 4px;
    margin-top: -60px;
}

.snake {
    background-color: rgb(27, 150, 27);
    border: .25vmin solid black;
    border-radius: 3px;
}

.food {
    background-color: rgb(160, 29, 29);
    border: .25vmin solid black;
    border-radius: 100px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 120px;
    width: 90vmin;
    position: sticky;
    color: white;
    /* background-color: rgb(134, 92, 28); */
}

#level {
    border: 1px solid black;
    border-radius: .25rem;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size:medium;
    width: 100%;
}

.dropdown.active > #level,
#level:hover {
    background-color: rgb(27, 150, 27);
    color: white;
    cursor: pointer;
}

/* .dropdown {
    position: relative;
} */

.dropdown-menu {
    /* position: absolute; */
    color: white;
    background-color: rgb(27, 150, 27);
    /* padding: .75rem; */
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.active {
    opacity: 1;
}

.dropdown.active > #level + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.difficulty {
    padding: 5px 15px;
}

.difficulty:hover {
    cursor: pointer;
    background-color: rgb(32, 179, 32);
}

.score {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

